{% extends 'base.html' %} {% block content %}

<!-- style -->
<style>
    .card {
        width: 18rem;
    }
    .card-img-top {
        height: 150px;
        object-fit: cover;
    }
</style>

<p>Total Available Cars: {{cars | length}}</p>
<div class="d-flex flex-wrap gap-3">
    {% for car in cars %}
    <div class="card text-center">
        <img
            src="{{car.image.url}}"
            class="card-img-top"
            alt="{{car.model_name}}"
        />
        <div class="card-body">
            <h4>{{car.brand}}</h4>
            <h3 class="card-title">Model: {{car.model_name}}</h3>
            <p>Color: {{car.color}}</p>
            <p>Price: ${{car.price}}</p>
        </div>
        <div class="card-footer border-0">
            <a href="{% url 'car_details' car.id %}" class="btn btn-primary"
                >View Details</a
            >
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
